@model Association.Models.Activite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_association)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_association)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_activite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_activite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
